{% extends "trex2/base-dashboard.html" %}

{% block title %}
    Starting Abstract | {{ block.super }}
{% endblock %}

{% block sidebar %}
    {{ block.super }}

    {% include 'trex2/sidebar.html' %}

{% endblock %}


{% block content %}
    {{ block.super }}

    <div id="starting-abstract">

        <h1>Starting Abstract
            <div class="text-small block italic">
                <a href="{{ abstract.uri }}" target="_blank">
                    {{ abstract.concept }}
                </a>
            </div>
        </h1>

        <div class="step-result">
            <div class="text">
                <p>{{ abstract.text | safe }}</p>
            </div>
        </div>

    </div>

{% endblock %}


