{% extends "trex2/base.html" %}

{% block container %}
    <div class="wrapper">

        <header class="main-header">

            <a href="{% url 'index' %}" class="logo">
                <span class="logo-mini"><b>S</b>L</span>
                <span class="logo-lg">SeAlion</span>
            </a>

            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="panel-icon"> </span>
                </a>

                {% block abstract_info %}{% endblock %}
            </nav>


        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    <li><a href="{% url 'home' %}"><i class="fas fa-list"></i> <span>Abstract</span></a></li>
                    <li><a href="{% url 'abstract_import' %}"><i class="fas fa-upload"></i> <span>Import</span></a></li>
                    <li><a href="/admin"><i class="fas fa-tools"></i> <span>Admin</span></a></li>

                </ul>


            </section>
        </aside>

        <div class="content-wrapper">
            {% block sidebar %}
                {{ block.super }}
            {% endblock %}
            <section class="content">
                {% block content %}{% endblock %}
            </section>

        </div>

        {% block console %}
            <footer class="sticky-footer close-console">

                <div id="toggle-console" class="button pull">

                    <i class="fa fa-terminal" aria-hidden="true"></i>
                    Console
                    <i class="fa fa-caret-up up-down-arrow" aria-hidden="true"></i>

                </div>

                <div class="scrollable-area">
                    <div class="scrollable-area">
                    <pre id="console">
                    </pre>
                    </div>
                </div>

            </footer>
        {% endblock %}
    </div>
{% endblock %}
