<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>{% block title %}SeAlion{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block favicon %}
        {% load static %}
        <link rel="apple-touch-icon" href="{% static '/trex2/icon.png' %}">
        <link rel="shortcut icon" href="{% static '/trex2/favicon.png' %}"/>
    {% endblock %}

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

    {% block css %}
        {% load static %}
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static '/bootstrap/dist/css/bootstrap.css' %}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
              crossorigin="anonymous">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{% static '/ionicons/dist/css/ionicons.css' %}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{% static '/admin-lte/dist/css/AdminLTE.css' %}">
        <!-- AdminLTE Skins -->
        <link rel="stylesheet" href="{% static '/admin-lte/dist/css/skins/_all-skins.css' %}">
        <!-- Handsontable -->
        <link rel="stylesheet" href="{% static '/handsontable/dist/handsontable.full.css' %}">
        <!-- CSS -->
        <link rel="stylesheet" href="{% static '/trex2/css/style.css' %}">
    {% endblock %}
</head>

<body class="skin-blue sde-fixed sidebar-mini sidebar-collapse">

{% block container %}{% endblock %}

{% block javascript %}
    {% load static %}
    <!-- jQuery -->
    <script src="{% static '/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static '/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- SlimScroll -->
    <script src="{% static '/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <!-- AdminLTE -->
    <script src="{% static '/admin-lte/dist/js/adminlte.min.js' %}"></script>
    <!-- Handsontable -->
    <script src="{% static '/handsontable/dist/handsontable.full.min.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static '/trex2/js/app.js' %}"></script>
{% endblock %}

</body>

</html>
