{% extends "trex2/base-dashboard.html" %}

{% block title %}
    {{ block.super }}
    {{ title }}
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{{ title }}</h3>
        </div>
        <div class="box-body">
            Job ID: {{ task_id }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            0%
                        </div>
                    </div>
                    <div id="details">
                        <span class="text-info">Current progress:</span>
                        <span id="msg"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function updateProgress(progressUrl) {
            fetch(progressUrl).then(function (response) {
                response.json().then(function (data) {
                    if (data.state != "SUCCESS") {
                        if (data.details != null) {
                            if (data.details.current != null) {
                                jQuery('.progress div').html(data.details.current + '%')
                                jQuery('.progress div').css("width", data.details.current + "%")
                            } else {
                                jQuery('.progress div').html("Please wait")
                                jQuery('.progress div').css("width", "100%")
                            }
                            jQuery('#details #msg').html(data.details.msg)
                        }
                        setTimeout(updateProgress, 500, progressUrl);
                    } else {
                        jQuery('#status-bar').html('100%')
                        jQuery('#ready').html("Job completed")

                        window.location = '{% url "home" %}';
                    }
                });
            });
        }

        var progressUrl = '{% url "get_progress" task_id %}';
        updateProgress(progressUrl);
    </script>
{% endblock %}
