{% extends "trex2/base.html" %}

{% block css %}
    {{ block.super }}
    {% load static %}

{% endblock %}

{% block container %}
  <div id="home">

        <div class="header">
            <div class="wrapper">
                <img src="{% static 'trex2/images/logo.png' %}" class="logo"/>

                <h1 class="title"><span class="bold">SeAlion</span></h1>
                <div class="subhead">Sentence Aligner</div>
            </div>
        </div>

        <div class="features">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <figure class="preview">
                            <img src="{% static 'trex2/images/preview.jpg' %}"/>
                        </figure>
                    </div>
                    <div class="col-xs-12 ">
                        <div class="feature">
                            {% if text %}
                                {{ string }}
                            {% else %}
                                <p>Ciao.</p>
                            {% endif %}
                            <div class="center">
                                <a class="btn" href="{% url 'home' %}">Start now to lexicalize</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="unimib flex">

                            <div class="disco">
                                <a href="https://www.disco.unimib.it/it" target="_blank" title="Visit DISCo website">
                                    <img src="{% static 'trex2/images/disco.png' %}">
                                </a>

                            </div>

                            <div class="lab">
                                <a href="http://inside.disco.unimib.it/" target="_blank"
                                   title="Visit Insid&s LAB website">
                                   <span class="title">
                                       Insid&s<br/>
                                        LAB
                                    </span>
                                    <span class="text">

                                        Dipartimento di Informatica, Sistemistica e Comunicazione <br/>
                                        Università degli Studi di Milano-Bicocca <br/>
                                        Viale Sarca, 336 - 20126, Milano | tel. 02 6448 7801
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="bitbucket col-xs-12">
                        <a href="https://bitbucket.org/disco_unimib/sealion/src/master/" target="_blank" title="Visit Bitbucket">
                                <span class="logo-sm">
                                    <img src="{% static 'trex2/images/bitbucket.png' %}"/>
                                </span>
                            <span class="text">
                                Bitbucket
                            </span>
                        </a>
                    </div>

                </div>

            </div>
        </div>

    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $('body').removeClass('sde-fixed');
    </script>
{% endblock %}
