<div class="multiStep-horizontal">
{% with request.resolver_match.url_name as url_name %}

    <div class="step-box initialState {% if url_name == 'starting_abstract' %}active{% endif %}">

        <a href="{% url 'starting_abstract' abstract.id %}" title="Starting abstract">
            <i class="far fa-square"></i>
            <span class="text">Starting abstract</span>
        </a>

    </div>

    <div class="step-box {% if url_name == 'data_preparation' %}active{% endif %}">

        <a href="{% url 'data_preparation' abstract.id %}" title="Data preparation">
            <div class="step">
                <span class="phase">0</span>
            </div>
            <span class="text">Data preparation</span>
        </a>
    </div>

    <div class="step-box {% if url_name == 'entity_linking' %}active{% endif %}">

        <a href="{% url 'entity_linking' abstract.id %}" title="Entity linking">
            <div class="step">
                <span class="phase">1</span>
            </div>
            <span class="text">Entity linking</span>
        </a>
    </div>

    <div class="step-box {% if url_name == 'literal_extraction' %}active{% endif %}">

        <a href="{% url 'literal_extraction' abstract.id %}" title="Literal extraction">
            <div class="step">
                <span class="phase">2</span>
            </div>
            <span class="text">Literal extraction</span>
        </a>
    </div>

    <div class="step-box {% if url_name == 'relation_extraction' %}active{% endif %}">

        <a href="{% url 'relation_extraction' abstract.id %}" title="Relation Extraction">
            <div class="step">
                <span class="phase">3</span>
            </div>
            <span class="text">Relation Extraction</span>
        </a>
    </div>

    <!-- close arrow-->
    <i class="fas fa-chevron-up close-multistep"></i>

{% endwith %}


</div>

