body {
  font-family: $font;
}

img {
  max-width: 100%;
}

a {
  color: $skin-color;
  transition: all .2s;

  &:hover,
  &:active,
  &:focus {
    color: $skin-color-darker;
  }
}


h1 {
  text-align: center;
  margin-bottom: 30px;
}

// buttons
.btn {
  transition: background 0.2s;

  &.btn-primary {
    background-color: $anchor-color;
    border-color: $anchor-color;

    &:hover {
      background-color: $anchor-color-hover;
    }
  }

  &.btn-secondary {
    color: white;
    background-color: $secondary-color;

    &:hover {
      background-color: $secondary-color-darker;
    }
  }

  &.alert-danger {
    border-color: $danger;
  }

  &.btn-outline-primary {
    background: transparent;
    border: 1px solid $skin-color;
    color: $skin-color;

    &:hover {
      border-color: $skin-color-darker;
      color: $skin-color-darker;
    }
  }

  &.btn-outline-danger {
    background: transparent;
    border: 1px solid $danger;
    color: $danger;

    &:hover {
      border-color: $danger-darker;
      color: $danger-darker;
    }
  }

  &.disabled {
    cursor: not-allowed !important;
    pointer-events: auto !important;
  }

  &.load {
    position: relative;

    .loading {
      position: absolute;
      margin: 0;
      left: 0;
      top: 0;
      background: rgba(236, 240, 245, 0.75);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: inherit;
    }
  }

  &.tiny {
    padding: 2px 15px;
    vertical-align: text-bottom;
  }

  .action {
    font-size: 14px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
  }

  .process {
    font-size: 12px;
    display: block;
  }

  &:active {
    box-shadow: unset !important;
  }
}

//modal
.modal {
  .btn {
    text-transform: uppercase;
    font-size: 18px;
    margin: 10px 0 30px;
    display: inline-block;
  }

  .small {
    font-style: italic;
  }

  .modal-title,
  .modal-content,
  .modal-footer {
    text-align: center;
  }

  .modal-title {
    font-weight: bold;
    font-size: 22px;
  }

  .modal-content {
    font-size: 18px;

    i {
      font-size: 7rem;
      color: rgba(3, 7, 9, 0.46);
      margin-right: 15px;

      &.fa-check {
        font-size: 5rem;
        vertical-align: sub;
      }
    }
  }

  .modal-body {
    padding: 2rem 3rem;

    .flex {
      align-items: center;
      text-align: left;
    }
  }

}

// info table on header
.tableInfo {
  margin: 0 30px 0 0;
  list-style: none;
  min-height: 50px;
  display: inline-flex;
  align-items: center;
  color: $infoTable-color;
  padding: 0;

  li {
    padding: 0 15px;
    @include breakpoint('medium') {
      padding: 0 20px;

    }
  }

  .name {
    font-size: 14px;
    font-style: italic;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include breakpoint('small') {
      font-size: 16px;
    }

    @include breakpoint('medium') {
      font-size: 18px;
    }
  }

  .stats {
    text-align: center;
  }

  .number,
  .description {
    display: block;
    line-height: 1;
  }

  .number {
    font-weight: bold;
    font-size: 18px;

    @include breakpoint('small') {
      font-size: 22px;
    }

    &.smaller {
      font-size: 16px;
      padding: 3px 0;
      @include breakpoint('small') {
        font-size: 18px;
      }
    }
  }

  .description {
    font-size: 10px;
    @include breakpoint('small') {
      font-size: 12px;
    }
  }
}

// accordion
.accordion {
  max-width: 700px;
  margin: auto;

  .panel-heading {
    background: #e6e6e6;
  }

  .panel-title a {
    display: block;
    font-size: 20px;
    color: $anchor-color;

    &:hover,
    &:active,
    &:focus {
      color: $anchor-color-hover;
    }

  }
}

// pre
pre {
  font-size: 11px;
}

// tables
table {
  th.empty {
    background-color: transparent !important;
    border: none !important;
  }
}

.sde-table {

  th {
    text-transform: uppercase;
    background-color: #f3f3f3;
    text-align: center;
    padding: 4px !important;
  }
  td {
    background-color: white;

    vertical-align: middle !important;

  }


}






