%max-width {
  max-width: 800px;
  margin: 0 auto 20px auto;
}

.section-title {
  font-size: 22px;
  margin-bottom: 10px;

  i {
    font-size: 120%;
  }
}

.entity-found {
  background: rgba($skin-color, .2);
  transition: all .2s;
  padding: 0 2px;

  &:hover,
  &.hover {
    background: rgba($skin-color, .5);;
  }

  &:visited {
    color: $skin-color-darker;
  }
}

.step-result {

  .text {
    background: white;
    border: 1px solid $secondary-color;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;

    p {
      margin: 0;
    }
  }
}

#list-table {
  margin-bottom: 50px;

  .progress {
    overflow: initial;
    margin: 0 10px;

    .progress-bar {
      position: relative;
    }

    .badge {
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%);

    }
  }

  .pagination {
    margin-top: 5px;

    li.active {
      a {
        background: $skin-color;
        cursor: pointer;
      }

      &:hover {
        a {
          background: $skin-color-darker;
        }

      }
    }
  }

  .text-center .btn {
    margin-top: 20px;
  }
}

#starting-abstract {
  .step-result {
    @extend %max-width;

  }
}

#data-preparation {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;

  .report {
    text-align: center;
    font-size: 12px;

    ul {
      display: inline-block;
      text-align: left;
    }

    .badge {
      margin-left: 15px;
    }
  }

  .step-result {
    position: relative;
    @include breakpoint('small') {
      display: flex;

      & > div {
        width: 50%;
        margin: 20px;
      }
    }
  }

  .arrow {
    font-size: 2.5rem;
    padding: 10px;
    color: $light-gray;
    align-self: center;
    display: flex;
    justify-content: center;

    @include breakpoint('small') {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: rotate(-90deg) translate(0, -50%);
    }

  }

  .text {
    @include breakpoint('xsmall only') {
      height: auto !important;
    }
  }
}

#entity-linking {
  .entities-list,
  .step-result {
    @extend %max-width;
  }

  .entities-list {

    max-width: 800px;
    background: rgba($skin-color, .1);
    padding: 10px;
    font-size: 15px;


    & > div {

      @include breakpoint('small') {
        column-count: 3;
      }
    }

    .item {

    }

    a {
      padding: 0 2px;
      white-space: nowrap;
      width: 100%;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover,
      &.hover {
        background: rgba($skin-color, .4);;
      }

      &:visited {
        color: $skin-color-darker;
      }
    }
  }


  .annotator {
    width: 14px;
    height: 14px;
    display: inline-block;

    border-radius: 50%;
    position: relative;
    vertical-align: middle;

    &:last-child {
      margin-right: 4px;

    }

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      z-index: 1;
      font-size: 9px;
      line-height: 1;
    }

    &.wikifier {

      background: #a0186d;

      &:before {
        content: "W";
      }
    }

    &.wikidata_spotlight_entity_linker,
    &.spotlight {
      background: #003047;

      &:before {
        content: "S";
      }

    }
  }

  .popover {
    max-width: 500px;
    background: scale-color($secondary-color, $lightness: 5%);
    color: white;

    &.bottom {

      & > .arrow:after {
        border-bottom-color: scale-color($secondary-color, $lightness: 5%);
      }
    }

    .popover-title {
      background: $secondary-color-darker;
      text-transform: uppercase;

      a {
        color: #dedede;

        &:hover {
          color: white;
        }
      }
    }

    .popover-content {
      font-size: 13px;
      max-height: 300px;
      overflow: auto;

      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    img {
      float: right;
      max-width: 150px;
      margin-left: 10px;
    }

    &-container {
      display: none;
    }
  }

}

#literal-extraction {
  .step-result {
    max-width: 1000px;
    margin: auto;

    .text {
      @extend %max-width;
      margin: 0;
    }

    .flex {
      align-items: flex-start;
    }
  }

  .step-result
  .literal-list {
    background: rgba($skin-color, .1);
    padding: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 20px;

    .block-title {
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 6px;

    }

    .item {
      padding: 4px 0;
    }


    & > div {
      padding: 0 10px;
    }

  }

  .date-found, .literal-found {
    padding: 0 2px;
  }

  .date-found {
    background: rgba(#578048, .4);
  }

  .literal-found {
    background: rgba(#8697aa, .4);
  }

}


