/* ===============
   GENERAL SETTINGS
   =============== */

// font
$font: 'Roboto', sans-serif;

// colors
$skin-color:   #685a80; // #605ca8; (initial)
$skin-color-darker: scale-color($skin-color, $lightness: -30%);
$secondary-color: #222d32;
$secondary-color-darker: scale-color($secondary-color, $lightness: -10%);
$danger: #b8001d;
$danger-darker: scale-color($danger, $lightness: -10%);
$light-gray: #818690;
$dark-gray: #212121;


/* ===============
   HOME SETTINGS
   =============== */

// background
$home-up-bg: #222d32;
$home-bottom-bg: $skin-color;

$home-bg-deg: -184;
// 180 = horizontal
// +/- 4deg
// > 180 top to bottom
// < 180 bottom to top

//text color
$home-title-color: white;
$home-text-color: white;
// button
$home-btn-color: white;
$home-btn-hover-color: $skin-color;
$home-btn-hover-bg: white;

// anchor
$anchor-color: $skin-color;
$anchor-color-hover: $skin-color-darker;


/* ===============
   TEMPLATE SETTINGS
   =============== */

$logo-color: white;
$infoTable-color: white;