$console-bg-style:solid; // gradient;

%pattern {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: repeating-linear-gradient(
                    0deg,
                    rgba(#b6b6b6, 0.15),
                    rgba(#b6b6b6, 0.15) 1px,
                    transparent 1px,
                    transparent 2px
    );
  }
}

// footer console
.sticky-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 150px;

  @if ($console-bg-style == gradient) {
    background: $secondary-color-darker radial-gradient(
                    rgba(0, 150, 0, 0.75), black 110%
    );
  } @else {
    background: $secondary-color-darker;
  }


  border-top: 1px solid #d2d6de;
  transition: height .2s;
  z-index: 999;


  @extend %pattern;

  pre {
    background: transparent;
    margin: 0;
    border: unset;
  }

  .scrollable-area {
    height: 100%;
    word-wrap: break-word;
    overflow-y: auto;

    &, * {
      font: 1.3rem Inconsolata, monospace;
      text-shadow: 0 0 5px #C8C8C8;
      color: #fff;
      //font-size: 12px;

      &::selection {
        text-shadow: none;
        background: $skin-color;
      }
    }


  }

  &.close-console {
    height: 8px;

    @if ($console-bg-style == gradient) {
      background: #021802;
    }

    .scrollable-area {
      display: none;
    }
  }

  &.open-console {
    height: 150px;
    padding: 20px 10px 10px 240px;
  }

  .button.pull {
    @if ($console-bg-style == gradient) {
      background: #021802;
    } @else {
      background: $secondary-color-darker;
    }

    color: white;
    text-transform: uppercase;
    font-size: 12px;
    width: auto;
    position: absolute;
    right: 30px;
    bottom: calc(100% - 1px);
    z-index: 851;
    padding: 5px 8px;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    @extend %pattern;

    i {
      color: white;
    }

    .up-down-arrow {
      margin-left: 10px;
    }
  }

  &.no-console {
    display: none;
  }
}

.sidebar-collapse .sticky-footer {

  &.open-console {
    padding: 20px 10px 10px 60px;
  }
}