{% extends "trex2/base-dashboard.html" %}


{% block title %}
    Import |
    {{ block.super }}
{% endblock %}


{% block content %}
    {{ block.super }}


    <div class="twoSide-layout">
        <div class="container-fluid">

            <div class="row flex ">

                <div class="col col-md-9">

                    <div class="container-form">
                        <h1> Import</h1>


                        <div class="text-center line-separator">

                            {#TODO#}
                            <form action="{% url 'process_data_all' %}" method="post">
                                 {% csrf_token %}
                                  <button type="submit" href="#" class="btn btn-outline-primary load load-all-abstracts">
                                Load all abstracts
                            </button>
                            </form>


                        </div>

                        <form id="form" action="{% url 'process_data' %}" method="post">
                            {% csrf_token %}

                            <div class="form-group material">
                                <input type="text" id="testo" class="form-control" name="testo" required>
                                <label for="testo">URI Wikipedia</label>
                                <div class="helper-message">Insert a Wikipedia URI to add a single abstract</div>
                            </div>

                            <button type="submit" id="submit" class="btn btn-primary btn-block">Submit
                            </button>

                        </form>
                    </div>

                </div>

                <div class="col col-md-6 background">

                    <h3>Import instructions</h3>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus cursus iaculis. Duis lacus
                        dolor, condimentum vestibulum mauris at, vehicula viverra eros. Curabitur eget tellus ac erat
                        molestie venenatis. Etiam vel auctor magna, quis pretium nisi. Vestibulum porttitor, odio nec
                        tincidunt ultricies, magna libero ultrices nunc, a vehicula lorem sapien vel orci. Quisque eget
                        elit sagittis, condimentum felis et, iaculis purus. Interdum et malesuada fames ac ante ipsum
                        primis in faucibus.
                    </p>
                    <p>
                        Vivamus ac auctor sapien. Phasellus ac erat lacinia felis faucibus sodales. Duis laoreet ex non
                        erat consequat, vitae placerat odio varius. Nunc volutpat odio vitae mauris gravida, congue
                        efficitur augue tincidunt. Praesent pellentesque placerat elit, sit amet consequat felis euismod
                        eget. Suspendisse eget eros id lectus mattis fringilla eleifend ut eros. Phasellus consequat non
                        elit at gravida. Nunc fringilla in magna imperdiet tempor. Integer pellentesque odio quis
                        pulvinar aliquam. Proin aliquet vehicula arcu a pharetra. Fusce quis porttitor nisl, non
                        molestie dui. Proin pellentesque rutrum elit, sed facilisis dui dapibus quis. Pellentesque
                        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    </p>


                </div>

            </div>

        </div>
    </div>



{% endblock %}