{% extends "trex2/base-dashboard.html" %}


{% block title %}
    {{ block.super }}
    Show abstract
{% endblock %}


{% block content %}
    {{ block.super }}
<div class="container-fluid">
<div class="row">
        <section class="col-lg-6">

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Abstract</h3>
                    <div class="box-tools pull-right">
                        <a href="{% url 'data_preparation' abstract.id %}" class="btn bg-purple btn-xs">Process</a>
                    </div>
                </div>
                <div class="box-body">
                    {{ abstract.text }}
                </div>
            </div>

        </section>

    </div>
</div>

{% endblock %}